<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <% include partials/cabecera.ejs %>

</head>

<body>
    <% include partials/navegacion.ejs %>

    <div class="container">
        <head class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/nodejs.png" class="animated bounceIn" alt="">
            </div>
        </head>
    </div>

    <div class="container-fluid " id="about">

        <div class="row bg-dark text-white p-5 text center">

            <div class="col-sm-6">



            </div>
            <div class="col-sm-6">

                <h3>LA MEJOR UNIVERSIDAD PARA TI</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut laudantium eveniet quia, repellat maxime consequuntur provident, molestias doloremque quo dolorem enim sint! Error doloribus voluptas non dolor blanditiis quisquam dicta?</p>
                
                </div>
        </div>

    </div>

    <% include partials/footer.ejs %>

</body>

</html>